/*
  Global CSS file
*/
*{
	margin: 0;
	padding: 0;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	line-height: normal;
}

::-webkit-input-placeholder {
	color:#aaa;
	font-weight: 300;
}
::-moz-placeholder {
	color:#aaa;
	font-weight: 300;
}
:-ms-input-placeholder {
	color:#aaa;
	font-weight: 300;
}
input:-moz-placeholder {
	color:#aaa;
	font-weight: 300;
}

body {
	background: #FFF;
	font-family: 'Roboto', sans-serif;
	font-size: 16px;
	padding-top: 51px;

	--main-dark: #0c3231;
	--main-lb: #20c1eb;
}

a,
a:hover,
a:active,
a:visited,
a:focus {
	color: inherit;
	text-decoration: none;
	background-color: inherit;
}
