.imgWrapper {
    height: 200px;
    overflow: hidden;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
}

.playerCardWrapper {
    position: relative;
    width: 200px;
    height: 316px;
    display: inline-block;
    margin: 0 5px;
}

.playerCard {
    width: 100%;
    overflow: hidden;
    cursor: pointer;
    position: absolute;
    top: 0;
    padding-top: 200px;
    border-radius: 30px;
    border: 3px solid #20c1eb;
    -webkit-box-shadow: 3px 3px 3px 0px rgba(0,0,0,0.65);
    -moz-box-shadow: 3px 3px 3px 0px rgba(0,0,0,0.65);
    box-shadow: 3px 3px 6px 0px rgba(0,0,0,0.65);
    transition: all 300ms;
}
.playerCard:hover {
    top: -10px;
}

.profilePicture {
    width: 100%;
}

.name {
    text-align: center;
    font-weight: bold;
    background: #20c1eb;
    color: #333;
    text-transform: uppercase;
    padding: 5px;
}

.description {
    display: flex;
    justify-content: space-around;
    padding: 20px 0;
    background: #0c3231;
    color: #fff;
}

.info {
    display: block;
}