.header {
    text-align: center;
    background: var(--main-lb);
    color: #fff;
    padding-bottom: 5px;
}

.matches {
    padding: 0 5px;
    width: 100%;
}

.match {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid #ddd;
    padding: 5px;
}

.team {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width:100%;
}

.score {
    width: 40%;
    text-align: center;
    font-weight: bold;
    background: #DDD;
    margin: 0 10px;
}

.changeMatch {
    cursor: pointer;
    font-size: 25px;
    color: var(--main-dark);
}

.changeMatch:hover {
    color: var(--main-lb);
}