.TeamForm {
    text-align: center;
}

.defaultTeam {
    width: 250px;
    height: 250px;
    margin: 0 auto;
    border-radius: 50%;
    border: 4px solid black;
    display: flex;
    align-items: center;
    justify-content: center;
    background-size: 100%;
    background-repeat: no-repeat;
    background-position: 50% 50%;
    cursor: pointer;
    outline: none;
    overflow: hidden;
}

.dropDesc {
    padding: 30px;
    font-size: 19px;
    font-weight: bold;
    text-align: center;
    z-index: -1;
}

.activeWrapper {
    width: 100%;
    height: 100%;
    text-align: center;
    line-height: 242px;
    background: rgba(0, 0, 0, 0.2);
    font-size: 20px;
    color: #fff;
}

.active {
    z-index: 1;
}

.dropTextActive {
    margin: 0;
}

.teamName {
    display: block;
    text-align: center;
    border: none;
    border-bottom: 3px solid black;
    padding-bottom: 10px;
    font-size: 40px;
    outline: none;
    margin: 40px auto;
    width: 70%;
    transition: all 300ms
}

.teamName:focus::-webkit-input-placeholder { color:transparent; }
.teamName:focus:-moz-placeholder { color:transparent; } /* FF 4-18 */
.teamName:focus::-moz-placeholder { color:transparent; } /* FF 19+ */
.teamName:focus:-ms-input-placeholder { color:transparent; } /* IE 10+ */

.submitTeamName {
    width: 200px;
    font-size: 20px;
    text-transform: uppercase;
}