.Standings {

}

.teamItem {
    display: flex;
    justify-content: space-between;
    padding: 5px;
    text-align: center;
}

.teamItem:nth-child(even) {
    background-color: #ddd;
}

.teamItem:nth-child(odd) {
    background-color: #fff;
}

.header {
    font-weight: bold;
}

.headerTitle {
    text-align: center;
    background: var(--main-lb);
    color: #fff;
    padding-bottom: 5px;
}

.team {
    width: 200px;
}

.twoUnits {
    width: 32px;
}

.oneUnit {
    width: 20px;
}